[Unit]
Description=simple python http server to listen on port 666 for edge monitoring

[Service]
Type=Simple
ExecStart=/usr/bin/python3 /usr/sbin/realitycheck_server

[Install]
WantedBy=multi-user.target
